Django==1.9.5
django-extensions==1.6.1
django-registration==2.0.4
django-registration-defaults==0.4.4
django-compressor==2.0
dj-database-url==0.4.0

# handling events and scheduling
django-recurrence==1.2.0
celery==3.1.23
redis==2.10.5

six==1.10.0
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==2.0.6
cerberus==0.9.2
Sphinx==1.4.1
