<div>
	<table st-table="teams" class="table table-striped">
		<thead>
		<th>Name</th>
		<th>View Users</th>
		<th>View Team Questions</th>
		<th>Delete</th>
		</thead>
		<tbody>
		<tr ng-repeat="team in teams">
			<td><a ng-click="update(team)" style="cursor:pointer">{{team.name}}</a></td>
			<td><a ui-sref="user({team_id: team.id})">View</a> </td>
			<td><a ui-sref="report({team_id: team.id})">View</a> </td>
			<td><button ng-click="teamService.delete(team.id)" class = "btn btn-sm btn-danger">Delete</button></td>
		</tr>
		</tbody>
	</table>
</div>