<div id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-repeat="field in fields">
            <label for = "{{field.name}}">{{field.name}}</label>
            <div ng-switch="field.type">
                <div ng-switch-when="multiselect">
                    <multiselect data-multiple="true" options="c.name for c in field.options" data-compare-by="id" ng-model="field.value"></multiselect>
                </div>
                <div ng-switch-when="checkbox">
                    <div class="btn-group">
                        <label ng-click="clicked()" ng-repeat="opt in field.options" ng-model="field.value[opt.id]" class="btn btn-primary" uib-btn-checkbox>{{opt.name}}</label>
                    </div>
                </div>
                <div ng-switch-when="timepicker">
                    <uib-timepicker ng-model="field.value" hour-step="hstep" minute-step="mstep" show-meridian="true"></uib-timepicker>
                </div>
                <div ng-switch-default>
                    <input id="{{field.name}}" class="form-control" type="{{field.type}}" ng-model="field.value"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>