{% load staticfiles %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-toastr/dist/angular-toastr.min.css' %}">
</head>

<body ng-app="teamreporterapp">
{% include "navbar.html" %}
<div class="container">
    {% verbatim %}
    <div ui-view>

    </div>
    {% endverbatim %}
</div>

{% include 'javascripts.html' %}
</body>
</html>