{% extends "home.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% blocktrans %}Complete your daily Boomerang today!{% endblocktrans %}{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">{{field.label}}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
    </form>
</div>
{% endblock %}}