{% extends "email/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Boomerang summary report{% endblocktrans %}{% endblock %}

{% block body %}
{% with user.first_name as name %}
<h2>{% blocktrans %}Hello <b>{{ name }}</b>!{% endblocktrans %}</h2>
{% endwith %}
<p>{% blocktrans %}Below you'll find summary report from the rest of your team:{% endblocktrans %}</p>
<ul>
    {% for survey in surveys %}
        <h3>{{survey.user.get_full_name}} - {{survey.user.email}}</h3>
        {% for answer in survey.answer_set.all %}
            <p><b>{{answer.question.text}}</b> - {{answer.text}}</p>
        {% empty %}
            {% for question in questions %}
            <p><b>{{question.text}}</b> - {% trans "no answer" %}</p>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</ul>
<p>&nbsp;</p>
<p>{% trans "Have a productive day," %}</p>
<p><i>{% trans "Boomerang team" %}</i></p>
{% endblock %}
{% block ctabutton %}{% endblock %}